global
    log stdout format raw local0 info
    daemon

defaults
    mode http
    log global
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client 50s
    timeout server 50s
    timeout http-request 10s

frontend http_front
    bind *:80

    # Define ACLs (Access Control Lists) for path-based routing
    acl is_api path_beg /api

    # Route based on path
    use_backend api_servers if is_api
    default_backend app_servers

    # Logging
    capture request header Host len 64
    capture request header User-Agent len 128

backend app_servers
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200

    # Local app1 (on your laptop, port 8081)
    server app1 host.docker.internal:8081 check inter 5s fall 3 rise 2

    # Remote app2 (on VM, port 80)
    server app2 192.168.139.128:80 check inter 5s fall 3 rise 2

backend api_servers
    balance roundrobin
    option httpchk GET /api/health
    http-check expect status 200

    # API on VM
    server api 192.168.139.128:3000 check inter 5s fall 3 rise 2

listen stats
    bind *:8404
    mode http

    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:ad*in123

    # Hide HAProxy version in stats
    stats show-legends
    stats show-node
